/*font-family: 'Cabin', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
font-family: 'Droid Sans', sans-serif;*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

.wrapper {
	width: 968px;
	padding: 19px 14px 14px 14px;
	margin: 0 auto;
}

.header-wrapper {
	background: linear-gradient(#fdfcfc, #ebfaf8 208px, #d0e7e6);
}

.header {
	width: 968px;
	padding: 6px 14px 0 14px;
	margin: 0 auto;
}

/*HEADER-TOP*/

.header-top {
	border-bottom: 1px solid #d0e7e6;
	font-size: 13px;
	padding-bottom: 6px;
	letter-spacing: -0.03em;
}

.header-top a.cyan,
.header-top span.cyan {
	color: #3cc9b0;
	font-weight: bold;
}

.header-top span.gray {
	color: #858c8b;
}

.header-top a.london {
	position: relative;
	padding-left: 23px;
}

.header-top a.london::before {
	position: absolute;
	left: 8px;
	top: 4px;
	content: '';
	display: inline-block;
	width: 9px;
	height: 12px;
	background: url(../img/sprite.png) no-repeat 0 0;
}

.header-top span.currency::after {
	position: absolute;
	right: 8px;
	top: 9px;
	content: '';
	display: inline-block;
	width: 7px;
	height: 4px;
	background: url(../img/sprite.png) no-repeat 0 -17px;
}

.header-top__deliver {
	float: left;
	color: #35403e;
	line-height: 15px;
	padding-right: 63px;
	padding-top: 7px;
}

.header-top__currency {
	float: left;
	color: #35403e;
	text-shadow: 0 0 0;
	line-height: 15px;
	padding-top: 7px;
}

.header-top__currency span {
	position: relative;
	padding-right: 18px;
}

.header-top__currency span:last-child {
	padding-left: 10px;
}

.header-top__cart {
	float: right;
	color: #35403e;
	line-height: 15px;
}

.header-top__cart p {
	display: inline-block;
	position: relative;
	padding-left: 26px;
	padding-right: 10px;
}

.header-top__cart p::before {
	position: absolute;
	left: 0;
	top: 0px;
	content: '';
	display: block;
	width: 17px;
	height: 14px;
	background: url(../img/sprite.png) no-repeat 0 -26px;
}

.header-top a.checkout {
	display: inline-block;
	line-height: 14px;
	padding: 7px 41px;
	background: #ff642b;
	color: #fff;
	border-radius: 2px;
}

.header-top a.checkout:hover {
	background-color: #fd5010;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.header-top a.checkout:active {
	box-shadow:
	   inset 0 1px 3px rgba(0,0,0,.3);
	text-shadow: 1px 1px 2px rgba(0,0,0,.3);
	background-color: #f34606;
}


/*HEADER-MIDDLE*/

.header-middle {
	border-bottom: 1px solid #d0e7e6;
}

a.logo {
	display: block;
	font-family: 'Cabin', sans-serif;
	float: left;
	padding: 21px 21px 16px 0;
}

.logo img {
	float: left;
	padding-right: 11px;
}

.logo h1 {
	float: left;
	font-weight: normal;
	font-size: 28px;
	color: #ff642b;
	line-height: 22px;
	letter-spacing: -0.03em;
}

.logo h1 span {
	color: #3cc9b0;
	font-weight: bold;
}

.logo h2 {
	font-family: 'PT Sans', sans-serif;
	font-size: 12px;
	color: #858c8b;
	font-weight: normal;
	line-height: 22px;
}

.discounts {
	float: right;
	background: #555555;
	margin: 9px 0;
}

.discounts > div {
	float: left;
}

.discounts__disc1 {
	position: relative;
	padding: 10px 39px 10px 36px;
	line-height: 10px;
}

.discounts__disc1::after {
	position: absolute;
	display: block;
	content: '';
	top: 5px;
	right: 23px;
	width: 32px;
	height: 30px;
	background: url('../img/sprite_user.png') no-repeat -66px 0;
}

.discounts__disc1 p.free-ship {
	font-weight: 800;
	font-style: italic;
	color: #fff;
	font-size: 19px;
	width: 100px;
	line-height: 16px;
}

.discounts__disc1 p.above200 {
	color: #ffc412;
	font-size: 11px;
}

.discounts__disc2 {
	position: relative;
	padding: 10px 62px 6px 31px;
}

.discounts__disc2::before {
	position: absolute;
	content: '';
	display: block;
	top: 8px;
	left: 0;
	width: 1px;
	height: 46px;
	background-color: #888888;
}

.discounts__disc2::after {
	position: absolute;
	display: block;
	content: '';
	top: 7px;
	right: 31px;
	width: 40px;
	height: 39px;
	background: url('../img/sprite_user.png') no-repeat -66px -35px;
}

.discounts__disc2 p.free-pills {
	font-weight: 800;
	font-style: italic;
	color: #fff;
	font-size: 19px;
	line-height: 16px;
}

.discounts__disc2 p.v-pills {
	color: #ffc412;
	font-size: 11px;
	font-weight: bold;
	line-height: 15px;
	padding-top: 2px;
}

.discounts__disc2 p.for-free {
	padding-top: 1px;
	color: #ffc412;
	font-size: 11px;
	line-height: 10px;
}

.discounts__disc3 {
	position: relative;
	padding: 10px 42px 9px 32px;
}

.discounts__disc3::before {
	position: absolute;
	content: '';
	display: block;
	top: 8px;
	left: 0;
	width: 1px;
	height: 46px;
	background-color: #888888;
}

.discounts__disc3 p.our-drug-prices {
	font-weight: 800;
	font-style: italic;
	color: #fff;
	font-size: 19px;
	line-height: 16px;
}

p.are, p.seventy, p.less-than {
	float: left;
}

.discounts__disc3 p.are {
	font-size: 13px;
	color: #ffc412;
	font-style: italic;
	line-height: 16px;
}

.discounts__disc3 p.seventy {
	font-size: 28px;
	font-weight: 800;
	color: #ffc412;
	font-style: italic;
	line-height: 23px;
	padding-top: 5px;
}

.discounts__disc3 p.less-than {
	width: 110px;
	color: #ffc412;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	padding-top: 4px;
	padding-left: 5px;
}

.advantages h2 {
	position: relative;
	display: block;
	font-size: 15px;
	font-weight: bold;
	font-style: italic;
	float: left;
	line-height: 15px;
}

.advantages__free-insurance {
	padding: 11px 30px 12px 40px;
}

.advantages__free-insurance::before {
	position: absolute;
	top: 8px;
	left: 12px;
	content: '';
	display: block;
	width: 24px;
	height: 23px;
	background: url('../img/sprite.png') no-repeat 0 -76px;
}

.advantages__10y-supplier {
	padding: 11px 35px 12px 26px;
}

.advantages__10y-supplier::before {
	position: absolute;
	top: 9px;
	left: 0;
	content: '';
	display: block;
	width: 20px;
	height: 19px;
	background: url('../img/sprite.png') no-repeat 0 -104px;
}

.advantages__satisf-guarantee {
	padding: 11px 31px 12px 20px;
}

.advantages__satisf-guarantee::before {
	position: absolute;
	top: 10px;
	left: 0;
	content: '';
	display: block;
	width: 16px;
	height: 20px;
	background: url('../img/sprite.png') no-repeat 0 -128px;
}

.advantages__high-quality {
	float: right;
	padding: 11px 10px 12px 23px;
}

.advantages__high-quality::before {
	position: absolute;
	top: 10px;
	left: 0;
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	background: url('../img/sprite.png') no-repeat 0 -153px;
}

/*MENU*/

.menu {
	background-color: #3cc9b0;
}

.menu__main {
	float: left;
}

.menu__main-nav {
	line-height: 15px;
	list-style-type: none;
	border-right: 1px solid #7ad6c5;
}

ul.menu__main-nav li {	
	display: inline-block;
}

ul.menu__main-nav a {
	display: block;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding: 15px 20px;
	letter-spacing: -0.03em;
	transition: background 0.1s;
}

ul.menu__main-nav a:hover {
	background-color: #35b19b;
}

ul.menu__main-nav a:active {
	background-color: #1e9b84;
}

ul.menu__main-nav li:first-child a {
	padding-left: 27px;
}

ul.menu__main-nav li:last-child a {
	padding-right: 27px;
}

.phone {
	float: right;
	padding: 12px 30px 10px 30px;
	color: #fff;
	font-weight: bold;
	letter-spacing: -0.03em;
}

.phone__text {
	position: relative;
	font-size: 10px;
	padding-left: 32px;
	line-height: 7px;
}

.phone__text::before {
	position: absolute;
	top: 0;
	left: 0;
	content: '';
	display: block;
	width: 23px;
	height: 23px;
	background: url('../img/sprite.png') no-repeat 0 -178px;
}

.phone__phone{
	font-size: 20px;
	padding-left: 32px;
	line-height: 17px;
}

/*MAIN*/

.search-coupon {
	padding-bottom: 10px;
}

.search-coupon__quicksearch {
	float: left;
	padding-right: 15px;
}

.search-coupon__searchform {
	position: relative;
	width: 200px;
	border: 1px solid #ffc412;
}

p.searchCaption,
p.couponeCaption {
	line-height: 15px;
	padding-bottom: 9px;
	font-weight: bold;
	font-size: 13px;
}

input.searchInput {
	border: none;
	outline: none;
	-webkit-appearance: none;
	width: 174px;
	padding: 8px 0 8px 10px;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {color:#666;}
::-moz-placeholder          {color:#666;}/* Firefox 19+ */
:-moz-placeholder           {color:#666;}/* Firefox 18- */
:-ms-input-placeholder      {color:#666;}

/*input.searchinput::-ms-clear {  display: none; width : 0; height: 0; }*/
/*input.searchinput::-ms-reveal {  display: none; width : 0; height: 0; }*/

button.submit {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 24px;
	height: 30px;
	border: none;
	outline: none;
	padding: 0;
	background: url('../img/sprite.png') no-repeat 0 -200px;
	cursor: pointer;
}

.search-coupon__byname {
	float: left;
}

.searchLinksGroup {
	padding: 8px 15px 8px 0;
	font-weight: bold;
	width: 491px;
}

.searchLinksGroup a {
	color: #ff642b;
	text-decoration: underline;
	padding-right: 0.325em;
	padding-left: 0.325em;
	letter-spacing: 0.03em;
	display: inline-block;
}

.searchLinksGroup a:hover {
	text-decoration: none;
	transform: scale(1.3);
}

.searchLinksGroup a:last-child {
	padding-right: 0;
}

.searchLinksGroup a:first-child {
	padding-left: 0;
}

.search-coupon__coupone {
	float: right;
	width: 243px;
	color: #182422;
}

.search-coupon__coupone p.yourCoupone {
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 9px;
	line-height: 15px;
}

.yourCoupone span.activated {
	color: #666666;
	font-size: 12px;
	font-weight: normal;
}

.search-coupon__coupone a.discount {
	display: block;
	text-align: center;
	padding: 8px 0;
	font-weight: bold;
	font-size: 12px;
	color: black;
	background-color: #ffc412;
}

/*SIDEBAR*/

.sidebar {
	float: left;
	width: 192px;
	padding: 4px;
	background-color: #fcfcfc;
	border: 1px solid #edf1f2;
}

.sidebar__caption {
	width: 192px;
	background-color: #edf1f2;
	text-align: center;
}

.sidebar__caption p {
	font-size: 13px;
	font-weight: bold;
	line-height: 15px;
	padding: 8px 0;
	color: #182422;
}

ul.sidebar__categoriesList {
	list-style-type: none;
	padding-top: 10px;
}

.sidebar__categoriesList a {
	position: relative;
	display: block;
	padding: 5px 0;
	font-size: 13px;
	line-height: 15px;
	padding-left: 26px;
	color: #35403e;
}

.sidebar__categoriesList a:hover {
	background-color: #edf1f2;
}

.sidebar__categoriesList a::before {
	display: block;
	position: absolute;
	top: 11px;
	left: 12px;
	content: '';
	width: 4px;
	height: 7px;
	background: url('../img/sprite.png') no-repeat 0 -64px;
	transition: transform 0.1s;
}

.sidebar__categoriesList a:hover::before {
	transform: translateX(3px);
}

a.sidebar__packs {
	display: block;
	font-size: 13px;
	line-height: 14px;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
	color: white;
	font-weight: bold;
	background: #3cc9b0;
	text-align: center;
	padding: 10px 0;
	margin-top: 1px;
}

a.sidebar__trialEdPacks {
	margin-top: 10px;
}

a.sidebar__packs:hover {
	background-color: #35b19b;
}

/*FAQ*/

.faq {
	width: 202px;
	float: left;
	padding-top: 15px;
}

.faq__question, a.faq__faqSection {
	font-size: 12px;
	line-height: 13px;
	font-weight: bold;
	color: #3cc9b0;
	padding-bottom: 2px;
}

.faq__answer {
	font-size: 12px;
	line-height: 16px;
	color: #858c8b;
	padding-bottom: 20px;
}

.faq__answer:last-of-type {
	padding-bottom: 14px;
}

a.faq__faqSection {
	position: relative;
	text-decoration: underline;
	padding-left: 12px;
}

a.faq__faqSection:hover {
	text-decoration: none;
	color: #06937a;
}

a.faq__faqSection::before {
	position: absolute;
	top: 6px;
	left: 0;
	display: block;
	content: '';
	width: 4px;
	height: 7px;
	background: url('../img/sprite.png') no-repeat 0 -64px;
}

/*MAIN*/

.main {
	float: right;
	width: 760px;
	padding: 0 0 0 6px;
}

.item {
	float: left;
	width: 241px;
	border: 1px solid #edf1f2;
	border-radius: 2px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.item__head {
	background-color: #edf1f2;	
}

.item__head p {
	font-size: 13px;
	font-weight: bold;
	line-height: 15px;
	color: #35403e;
	padding: 4px 11px;
}

.item__thumbnail {
	float: left;
	width: 119px;
	height: 83px;
	padding: 8px 15px 6px 20px;
	box-sizing: border-box;
	text-align: center;
}

.item__thumbnail::before {
	content: '';
	display: inline-block;
	height: 100%;
	width: 1%;
	vertical-align: middle;
}

.item__thumbnail img {
	vertical-align: middle;
}

.item__price {
	float: right;
	padding: 8px 8px 4px 8px;
}

.item__marketPrice {
	font-family: Arial;
	padding: 4px 5px;
	line-height: 12px;
	font-size: 11px;
	font-weight: bold;
	background-color: #fcfcfc;
	border: 1px solid #edf1f2;
	color: #35403e;
}

.item__marketPrice p:last-child {
	font-size: 13px;
	line-height: 15px;
}

.item__specialOffer::before {
	position: absolute;
	display: block;
	content: '';
	top: -1px;
	left: -8px;
	width: 7px;
	height: 15px;
	background: url('../img/sprite_user.png') no-repeat 0 -51px;
}

.item__specialOffer {
	padding: 9px 3px 0 3px;
	position: relative;
}

.item__specialOffer p.specOffer {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	line-height: 12px;
	color: white;
	background-color: #ff642b;
	text-align: center;
}

.item__specialOffer p.usd {
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	line-height: 22px;
	color: #ff642b;
	text-align: center;
}

.item__specialOffer p.perPill {
	font-family: Arial;
	font-size: 11px;
	line-height: 7px;
	color: #444;
	text-align: right;
}

a.item__moreInfo {
	float: left;
	position: relative;
	padding-left: 37px;
	padding-bottom: 2px;
	color: #35403e;
	font-size: 12px;
	line-height: 14px;
}

a.item__moreInfo:hover {
	color: #3cc9b0;
}

a.item__moreInfo::before {
	position: absolute;
	display: block;
	content: '';
	top: 4px;
	left: 27px;
	width: 4px;
	height: 7px;
	background: url('../img/sprite.png') no-repeat 0 -64px;
}

.item__delivery {
	border-top: 1px solid #edf1f2;
	text-align: center;
	padding-top: 13px;
	padding-bottom: 11px;
	padding-left: 40px;
}

.item__delivery .air {
	float: left;
	padding-right: 10px;
	width: 56px;
	height: 13px;
	background: url('../img/sprite_user.png') no-repeat 0 0;
}

.item__delivery .priority {
	float: left;
	padding-right: 10px;
	width: 48px;
	height: 12px;
	background: url('../img/sprite_user.png') no-repeat 0 -18px;
}

.item__delivery .ems {
	float: left;
	width: 37px;
	height: 11px;
	background: url('../img/sprite_user.png') no-repeat 0 -35px;
}

a.item__button {
	display: block;
	font-size: 13px;
	line-height: 14px;
	color: white;
	background-color: #ff642b;
	border-radius: 2px;
	padding: 5px 0 7px 0;
	margin: 0 6px 6px 5px;
	text-align: center;
}

a.item__button span {
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
}

.item__button:hover {
	background-color: #fd5010;
	box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.item__button:active {
	box-shadow:
	   inset 0 1px 3px rgba(0,0,0,.3);
	text-shadow: 1px 1px 2px rgba(0,0,0,.3);
	background-color: #f34606;
}

.item__button::before {
	display: inline-block;
	content: '';
	width: 17px;
	height: 14px;
	background: url('../img/sprite.png') no-repeat 0 -45px;
	vertical-align: middle;
}

/*BANNER*/

.banner {
	position: relative;
	float: right;
	width: 243px;
	height: 402px;
	margin-bottom: 10px;
	background: url(../img/viagra-big.png) 95px 72px no-repeat,
				url(../img/cialis-big.png) 16px 160px no-repeat,
				linear-gradient(179deg, #000 60px, #ffe301 61px);
	border-radius: 1px;
	overflow: hidden;
}

.banner__discountPack {
	padding-top: 16px;
}

.banner__discountPack p {
	font-family: 'PT Serif', serif;
	font-size: 23px;
	color: white;
	font-weight: normal;
	text-align: center;
	line-height: 24px;
	letter-spacing: -0.03em;
}

.banner__discountPack span {
	font-family: 'PT Serif', serif;
	font-size: 23px;
	color: #ff4949;
	font-weight: bold;
	font-style: italic;
	line-height: 24px;
	letter-spacing: -0.03em;
}

.banner__plus {
	position: absolute;
	top: 155px;
	left: 114px;
	width: 13px;
	height: 13px;
	background: url('../img/sprite_user.png') no-repeat -518px -345px;
}

.banner__man {
	position: absolute;
	top: 156px;
	left: 127px;
	width: 179px;
	height: 252px;
	background: url('../img/sprite_user.png') no-repeat -351px 0px;
}

p.banner__free {
	display: inline-block;
	position: absolute;
	top: 160px;
	left: 21px;
	-moz-transform: skewY(-7deg);
	-ms-transform: skewY(-7deg);
	-webkit-transform: skewY(-7deg);
	-o-transform: skewY(-7deg);
	transform: skewY(-7deg);
	color: white;
	background-color: #fd0300;
	font-family: Helvetica;
	font-size: 15px;
	line-height: 15px;
	font-weight: bold;
	padding: 2px;
}

.banner__textAndButton {
	position: absolute;
	top: 281px;
	left: 6px;
	width: 230px;
	letter-spacing: -0.03em;
}

p.banner__text {
	font-family: 'Droid Sans', sans-serif;
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
}

p.banner__text span.free {
	color: #c80200;
}

.banner__textBottom {
	padding-left: 9px;
}

p.banner__oldPrice {
	color: #c80200;
	font-family: Tahoma;
	font-size: 10px;
	line-height: 11px;
	letter-spacing: normal;
	padding-top: 6px;
}

p.banner__oldPrice span.lineThrough {
	text-decoration: line-through;
}

p.banner__price {
	font-family: Tahoma;
	font-size: 28px;
	line-height: 29px;
	padding-bottom: 9px;
}

a.banner__button {
	display: block;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 15px;
	font-weight: bold;
	padding: 6px 0 6px 0px;
	background-color: black;
	border-radius: 2px;
	transition: all 0.1s;
	text-align: center;
}

a.banner__button span {
	display: inline-block;
	vertical-align: middle;
	padding-left: 4px;
}

a.banner__button::before {
	display: inline-block;
	content: '';
	width: 17px;
	height: 14px;
	background: url('../img/sprite.png') no-repeat 0 -45px;
	vertical-align: middle;
}

a.banner__button:hover {
	background-color: rgba(0,0,0,.8);
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
}

a.banner__button:active {
	background-color: black;
}

/*BOTTOM BANNER*/

.bottomBanner {
	background-color: #fcfcfc;
	border: 1px solid #edf1f2;
	clear: both;
	margin-left: 10px;
	text-align: center;
	height: 127px;
}

.bannerBottom__banner1 {
	float: left;
	width: 50%;
	height: 100%;
	border-right: 1px solid #edf1f2;
	box-sizing: border-box;
	padding-top: 11px;
}

.bannerBottom__banner2 {
	float: right;
	width: 50%;
	height: 100%;
	box-sizing: border-box;
	padding-top: 11px;
}

.bannerBottom__banner1 p {
	display: inline-block;
	font-size: 18px;
	line-height: 19px;
	font-weight: bold;
	color: #ff642b;
	padding-bottom: 16px;
}

.bannerBottom__banner2 p {
	display: inline-block;
	font-size: 18px;
	line-height: 19px;
	font-weight: bold;
	color: #ff642b;
	padding-bottom: 7px;
}

.bottomBanner p span {
	color: #3cc9b0;
}

/*AWARDS AND CERTIFICATES*/

.awardsWrapper {
	padding-top: 36px;
	clear: both;
}

.awardsWrapper p {
	font-size: 13px;
	line-height: 14px;
	color: #33414e;
	font-weight: bold;
	padding-bottom: 13px;
}

.awardsWrapper p span {
	font-size: 12px;
	line-height: 13px;
	color: #33414e;
	font-weight: normal;
}

ul.awardsWrapper__awardsList {
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	list-style-type: none;
	text-align: center;
	padding: 21px 0 18px 0;
}

ul.awardsWrapper__awardsList li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 29px;
}

ul.awardsWrapper__awardsList li:last-child {
	margin-right: 0;
}

.awardsWrapper__awardsList a {	
	display: block;
}

.awardsWrapper__awardsList a.pharmChecker {
	width: 148px;
	height: 72px;
	background: url('../img/sprite_user.png') no-repeat -114px -3px;
}

.awardsWrapper__awardsList a.trustGuard {
	width: 100px;
	height: 45px;
	background: url('../img/sprite_user.png') no-repeat -111px -81px;
}

.awardsWrapper__awardsList a.cpa {
	width: 72px;
	height: 72px;
	background: url('../img/sprite_user.png') no-repeat -111px -143px;
}

.awardsWrapper__awardsList a.fda {
	width: 116px;
	height: 61px;
	background: url('../img/sprite_user.png') no-repeat -111px -220px;
}

.awardsWrapper__awardsList a.ipabc {
	width: 74px;
	height: 74px;
	background: url('../img/sprite_user.png') no-repeat -111px -286px;
}

.awardsWrapper__awardsList a.cipa {
	width: 126px;
	height: 65px;
	background: url('../img/sprite_user.png') no-repeat -111px -365px;
}

.awardsWrapper__awardsList a.amQuality {
	width: 91px;
	height: 80px;
	background: url('../img/sprite_user.png') no-repeat -111px -435px;
}

ul.awardsWrapper__weAcceptList {
	border-bottom: 1px solid #e4e4e4;
	list-style-type: none;
	text-align: center;
	padding: 17px 0 19px 0;
}

ul.awardsWrapper__weAcceptList li {
	display: inline-block;
	vertical-align: middle;
}

ul.awardsWrapper__weAcceptList li:first-child {
	margin-right: 26px;
	color: #33414e;
	font-size: 13px;
	line-height: 14px;
}

ul.awardsWrapper__weAcceptList li:not(.weAccept) {
	width: 71px;
	height: 45px;
	margin-right: 62px;
	background: url('../img/sprite_user.png') no-repeat -270px 0;
}

ul.awardsWrapper__weAcceptList li:nth-child(3) {
	background-position: -270px -50px;
}

ul.awardsWrapper__weAcceptList li:nth-child(4) {
	background-position: -270px -100px;
}

ul.awardsWrapper__weAcceptList li:nth-child(5) {
	background-position: -270px -150px;
}

ul.awardsWrapper__weAcceptList li:nth-child(6) {
	background-position: -270px -200px;
}

/*FOOTER*/

.footer {
	padding: 18px 0 15px 0;
}

.footer__logo-copyright {
	float: left;
	position: relative;
}

p.footer__onlinePharmacy {	
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	line-height: 17px;
	color: #ff642b;
	padding: 2px 0 5px 30px;
}

p.footer__onlinePharmacy span {
	font-family: 'Cabin', sans-serif;
	font-size: 16px;
	line-height: 17px;
	font-weight: bold;
	color: #3cc9b0;
}

.footer__logo-copyright img {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 23px;
	height: 22px;
}

p.footer__copyright {
	font-size: 12px;
	line-height: 13px;
	color: #35403e;
	padding-left: 30px;
}

ul.footer__Menu {
	float: right;
	list-style-type: none;
	padding-top: 14px;
}

ul.footer__Menu li {
	display: inline-block;
	border-right: 1px solid #858c8b;
}

ul.footer__Menu li:last-child {
	border-right: none;
}

ul.footer__Menu li a {
	padding: 0 12px;
	font-size: 12px;
	line-height: 13px;
	color: #35403e;
	-moz-transition: font 0.1s;
	-ms-transition: font 0.1s;
	-webkit-transition: font 0.1s;
	-o-transition: font 0.1s;
	transition: font 0.1s;
}

ul.footer__Menu li a:hover {
	font-size: 13px;
	font-weight: bold;
}