* {
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial;
	font-size: 13px;
}

.header__nav-log {
	min-width: 920px;
	max-width: 1380px;
	margin: 0 auto;
	padding: 34px 30px 39px 30px;
}

nav.header__nav {
	display: block;
	float: left;
}

ul.header__nav-menu {
	list-style-type: none;
	padding: 0;
}

ul.header__nav-menu li {
	display: inline-block;
}

ul.header__nav-menu a {
	padding: 14px 20px;
	font-size: 16px;
	color: #0071bb;
	text-shadow: 0 -1px 0 rgba(48,51,43,.3);
}

ul.header__nav-menu li:first-child a {
	position: relative;
	display: block;
	background-color: #00b5ed;
	color: #fff;
	border-radius: 3px;
	text-decoration: none;
	font-size: 18px;
}

ul.header__nav-menu li:first-child a::after {
	content: "";
	position: absolute;
	top: 49px;
	left: 50%;
	margin-left: -9px;
	border: 9px solid transparent;
	border-top: 12px solid #00b5ed;
}

/*CLEARFIX*/

.clearfix::before, .clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.header__login {
	position: relative;
	float: right;
	text-align: left;
	padding-top: 11px;
}

.header__login a:first-child {
	font-size: 12px;
	color: #f80895;
	text-decoration: none;
	border-bottom: 1px dashed;
}

.header__login a:last-child {
	font-size: 12px;
	color: #999;
	text-decoration: none;
	border-bottom: 1px dashed;
}

.header__login::before {
	position: absolute;
	left: -20px;
	content: "";
	width: 12px;
	height: 16px;
	background: url(../images/sprite_tour_test.png) 100% 100% no-repeat;
}

.header__description {
	min-width: 950px;
	max-width: 1400px;
	margin: 0 auto;
	
}

.header__description h1 {
	font-size: 18px;
	padding: 10px 0;
	background-color: #00baf0;
	font-weight: normal;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(48,51,43,.3);
}

header .descript-background {
	background-color: #00baf0;
	height: 41px;
	margin-bottom: 35px;
	padding-right: 30px;
	padding-left: 30px;
}

main {
	margin: 0 auto;
	min-width: 980px;
	max-width: 1400px;
}

main h2 {
	font-size: 19px;
	font-weight: normal;
	text-shadow: 0 -1px 0 rgba(48,51,43,.2);
}

.left_info {
	float: left;
	max-width: 450px;
	padding-left: 30px;
}

article, section {
	line-height: 20px;
}

article h2, section h2 {
	padding-bottom: 20px;
}

section {
	float: right;
	width: 459px;
	padding-right: 30px;
}

section.special-offers .offers {
	position: relative;
	height: 107px;
	margin-bottom: 14px;
	background-image: url(../images/countries.png);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(48,51,43,.5);
}

section.special-offers .offers a {
	text-decoration: none;
	color: inherit;
	display: block;
	height: 100%;
}

section.special-offers .offers-mask {
	position: absolute;
	bottom: 0;
	width: 459px;
	height: 56px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 0 0 5px 5px;
	z-index: 1;
}

section.special-offers .offers .places {
	float: left;
	z-index: 2;
	padding: 10px 18px;
}

section.special-offers .offers .price {
	float: right;
	z-index: 2;
	padding: 10px 18px;
}

section.special-offers .offers .price {
	font-size: 11px;
}

section.special-offers .offers b {
	font-size: 17px;
}

section.special-offers span.countries {
	font-size: 15px;
}

section.special-offers .offers .price-color {
	color: #fff000;
}

section.special-offers .offer2 .price-color {
	color: #00f0ff;
}

section.special-offers .offer2 {
	background-position: 0 50%;
}

section.special-offers .offer3 {
	background-position: 0 100%;
	margin-bottom: 20px;
}

section.special-offers .offer3 + a {
	font-size: 12px;
}

article.advantages {
	padding-bottom: 60px;
}

.advantages ul {
	list-style: disc inside url(../images/star.png);
}

.advantages ul li {
	padding-left: 13px;
	line-height: 28px;
}

.advantages ul li span {
	padding-left: 11px;
}

.advantages ul li:last-child {
	margin-bottom: 6px;
}

.advantages a {
	text-decoration: none;
	border-bottom: 1px solid;
}

.advert {
	min-width: 920px;
	max-width: 1380px;
	margin: 0 auto;
	padding: 0 30px 15px 30px;
}

.banner {
	height: 90px;
	border: 1px solid #dcdcdc;
	margin-top: 37px;
	margin-bottom: 7px;
	font-size: 18px;
	color: #ededed;
	line-height: 90px;
	text-align: center;
}

.banner + a {
	font-size: 11px;
	text-decoration: none;
	border-bottom: 1px solid;
	color: #666;
}

footer {
	border-top: 1px solid #ebebeb;
	height: 147px;
	background-color: #f8f8f8;
}

footer .centralize {
	min-width: 910px;
	max-width: 1370px;
	margin: 0 auto;
	padding: 23px 30px 41px 40px;
}

footer .contacts {
	float: left;
	font-size: 11px;
	padding-top: 18px;
}

footer .contacts p:first-child {
	padding-bottom: 20px;
}

footer .partners {
	float: right;
	width: 570px;
	height: 87px;
	text-align: right;
	position: relative;
}

footer .partners a.security {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 15px;
	margin-bottom: 4px;
	position: relative;
	text-decoration: none;
	border-bottom: 1px solid;
	font-size: 11px;
}

footer .partners:before {
	content: "";
	display: inline-block;
	min-height: inherit;
	height: 100%;
	vertical-align: bottom;
}

footer .partners a.security::after {
	content: "";
	display: block;
	width: 10px;
	height: 8px;
	position: absolute;
	right: -16px;
	top: 2px;
	background: url(../images/sprite_tour_test.png);
}

footer .partners-logos {
	width: 567px;
	height: 43px;
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../images/sprite_tour_test.png) -33px -5px no-repeat;
}

footer .socials {
	position: absolute;
	top: 65px;
	left: 8px;
	list-style-type: none;
}

footer .socials a {
	padding: 0;
	margin-right: 12px;
	display: inline-block;
	background: url(../images/sprite_tour_test.png) no-repeat;
}

footer a.link-vk {
	width: 40px;
	height: 22px;
	background-position: -42px -70px;
}

footer a.link-goo {
	width: 32px;
	height: 20px;
	background-position: -94px -71px;
}

footer a.link-tw {
	width: 55px;
	height: 20px;
	background-position: -139px -71px;
}

footer a.link-fb {
	width: 47px;
	height: 20px;
	background-position: -206px -71px;
}

/*@media screen (max-width: 850px) {
	section {
		clear: both;
	}
}*/
