* {
padding: 0;
margin: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;	
}

.wrapper {
	width: 965px;
	padding: 50px 50px 60px 47px;
	margin: 0 auto;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.3)
}

img {
	max-width: 100%;
	height: auto;
}

/*Header*/

.logo {
	padding-bottom: 40px;
}

.navigation {
	background: linear-gradient(#5e5e5e, #444343);
}

nav ul.nav li {
	display: inline-block;
	list-style-type: none;
	line-height: 40px;
	padding: 0 24px;
	font-size: 15px;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	margin-right: -1px;
}
.nav a {
	display: block;
	color: #fff;
	text-decoration: none;
}
nav ul.nav li:hover {
	background: linear-gradient(#4a4a4a, #2e2e2e);
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
	transition: border 0.2s;
}
nav ul.nav li:active,
nav ul.nav li.active {
	background: linear-gradient(#4a4a4a, #2e2e2e);
	border-left: 1px solid #838383;
	border-right: 1px solid #838383;
}

.main {
	padding-top: 40px;
}

/*Left-aside*/

aside {
	width: 240px;
	float: left;
	padding-right: 50px;
}
ul.nav-aside {
	padding-left: 0;
	margin: 0;
}
.nav-aside li {
	min-height: 40px;
	border: 1px solid #c8c8c8;
	list-style-type: none;
	padding-left: 24px;
	line-height: 40px;
}
.nav-aside a {
	display: block;
	text-decoration: none;
	color: #656363;
	transition: all 0.3s;
}
.nav-aside li:hover {
	text-indent: 10px;
	background-color: #f2f0f0;
}
.nav-aside li:active,
.nav-aside li.active {
	background-color: #f2f0f0;
	text-indent: 10px;
}

/*Central block*/

.clearfix::before, .clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.article {
	width: 675px;
	float: right;
}

.item-image {
	border: 1px solid #c8c8c8;
	box-sizing: border-box;
	text-align: center;
}

.item-image img {
	padding: 46px 0;
	display: block;
	margin: 0 auto;
}

.article p {
	padding-top: 40px;
	padding-left: 25px;
	padding-bottom: 60px;
	line-height: 21px;
}

/*Footer*/

.footer {
	min-height: 40px;
	background: #e1e1e1;
}

.foot-navigation {
	width: 50%;
	float: left;
}

ul.nav-footer li {
	display: inline-block;
	list-style-type: none;
	line-height: 40px;
	padding: 0 24px;
	font-size: 15px;
	margin-right: -1px;
}
.nav-footer a {
	display: block;
	color: #2c2c2c;
	text-decoration: none;
}
ul.nav-footer li:hover {
	text-decoration: underline;
}
ul.nav-footer li:active,
ul.nav-footer li.active {
	text-decoration: underline;
}
footer p.copyright {
	float: right;
	line-height: 40px;
	margin-right: 40px;
	color: #2c2c2c;
}