body {
	background: linear-gradient(#128aa7 28px, #5ef0ff 28px, #5ef0ff 29px, #12cee1 29px, #fff 175px, #40c6d3 175px, #1191b1 350px, #0c739f);
	font-family: Tahoma, sans-serif;
}

.wrapper {
	min-height: 988px;
	width: 1000px;
	margin: 0 auto;
	background: #fff;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.75);
	-moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.75);
	box-shadow: 0 0 10px 0 rgba(0,0,0,.75);
}

.header {
	position: relative;
	min-height: 175px;
}

.logo {
	float: left;
	padding-left: 30px;
	padding-top: 11px;
}

.logo img, .logo a {
	display: block;
}

.header__rightblock {
	float: right;
	padding-right: 34px;
}

/*CLEARFIX*/

.clearfix:after, .clearfix:before {
  content: "";
  clear: both;
  display: block;
}

.header__contacts {
	float: right;
	font-size: 12px;
	padding-top: 9px;
	color: #128aa7;
}

.contacts__title {
	margin: 0;
	font-weight: bold;
	padding-bottom: 5px;
}

.contacts__phones {
	margin: 0;
	line-height: 18px;
}

.contacts__email {
	margin: 0;
}

ul.header__countries {
	float: right;
	clear: right;
	font-size: 10px;
	margin: 0;
	padding: 0;
	padding-top: 33px;
	list-style-type: none;
}

.header__countries li {
	display: inline-block;
	margin-right: 3px;
}

.header__countries li:last-child {
	margin-right: 0;
}

a.countries {
	display: block;
	width: 52px;
	position: relative;
	padding-top: 43px;
	white-space: nowrap;
	text-align: center;
}

a.countries:hover {
	text-decoration: none;	
}

a.countries::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -21px;
	width: 42px;
	height: 42px;
	background: url(../img/countries.png) no-repeat 0 0;
}

a.nepal::before {
	background-position: -58px 0;
}

a.tibet::before {
	background-position: -114px 0;
}

a.buthan::before {
	background-position: -169px 0;
}

a.srilanka::before {
	background-position: -225px 0;
}

a.maldives::before {
	background-position: -282px 0;
}

.main-image img {
	border-top: 1px solid #128aa7;
	border-bottom: 1px solid #128aa7;
	display: block;
}

/*NAVIGATION MENU*/

ul.nav__menu,
ul.nav__menu-dropdown {
	margin: 0;
	list-style-type: none;
}

ul.nav__menu {
	position: relative;
	background: linear-gradient(#373737, #303030);
	border-top: #cacbcb;
	border-bottom: #000;
	padding: 0 33px;
	font-size: 14px;
	box-shadow: 0 0 4px 0 rgba(0,0,0,1);
}

ul.nav__menu a:hover {
	color: #bbb;
}

ul.nav__menu > li {
	display: inline-block;
}

ul.nav__menu > li > a {
	color: #fff;
	text-decoration: none;
	display: block;
	line-height: 30px;
	padding: 0px 30px;
}

.nav__menu a.arrow::after {
	position: absolute;
	content: '';
	background: url(../img/arrow.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	width: 5px;
	height: 6px;
	top: 50%;
	right: 20px;
	margin-top: -2px;
}

.nav__menu a.arrow1 {
	background-position: 88% 50%;
}
.nav__menu a.arrow2 {
	background-position: 83% 50%;
}
.nav__menu a.arrow3 {
	background-position: 86% 50%;
}

.nav__menu li:nth-child(2),
.nav__menu li:nth-child(3),
.nav__menu li:nth-child(4) {
	position: relative;
}

ul.nav__menu-dropdown {
	visibility: hidden;
	position: absolute;
	left: 20px;
	background: #303030;
	box-shadow: 0 5px 5px 0 rgba(0,0,0,.75);
	padding: 6px 45px 9px 10px;
	opacity: 0;
	transition: all 0.3s;
}

ul.nav__menu li:nth-child(2):hover ul.nav__menu-dropdown,
ul.nav__menu li:nth-child(3):hover ul.nav__menu-dropdown,
ul.nav__menu li:nth-child(4):hover ul.nav__menu-dropdown {
	visibility: visible;
	opacity: 1;
}

/*ul.nav__menu-dropdown li:hover a {
	color: #bbb;
}*/

ul.nav__menu-dropdown a {
	display: block;
	color: #fff;
	text-decoration: none;
	line-height: 25px;
	white-space: nowrap;
}

/*END OF NAVIGATION*/

.aside__left, .aside__right {
	width: 210px;
	background-color: #edeef0;
	font-size: 14px;
	padding-left: 17px;
	line-height: 10px;
	margin-bottom: -20000px;
	padding-bottom: 20000px;
}

.aside__left {
	float: left;
	border-right: 1px solid #c7cacf;
}

.aside__right {
	float: right;
	border-left: 1px solid #c7cacf;
}	

.aside__left h2, .aside__right h2 {
	font-size: 18px;
	text-align: center;
	margin-left: -30px;
}

.central-wrapper {
	overflow: hidden;
}

footer.copyright p {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: white;
	line-height: 34px;
}

footer.copyright {
	text-align: center;
}